<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>u r deleting user <%= user.username %></h1>
    <div class="container">
        <form action="/users/<%= user.id %>?_method=DELETE" method="post">
            <label for="email">email</label>
            <input type="email" name="email"><br>
            <label for="password">password</label>
            <input type="password" name="password"><br>
            <button>delete</button>
        </form>
    </div>
   

</body>
</html>