<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h1>ADD USER</h1>
    <form action="/users" method="post">
        <label for="name">Name</label>
        <input type="text" name="username"><br>
        <label for="email">Email</label>
        <input type="email" name="email" ><br>
        <label for="password">password</label>
        <input type="password" name="password"><br>
        <button>add</button>
    </form>
</body>
</html>